
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h5>About</h5>
                <ul class="list-unstyled quick-links">
                    <p class="about">
                        India with its stunning panorama and geography offers some of the most venturesome destinations for enjoying adventure holidays.
                    </p>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();" (click)="uiContactUs()"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
                <h5>Contact</h5>
                <ul class="list-unstyled quick-links">
                    <li class="contact-us"><i class="fa fa-home me-3"></i> India, Odisha, Bhadrak </li>
                    <li class="contact-us"><i class="fa fa-phone me-3"></i> + .....</li>
                    <li class="contact-us"><i class="fa fa-envelope me-3"></i>admin@travelindiablogs.com</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="list-unstyled list-inline social text-center">
                    <!-- <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>-->
                    <li class="list-inline-item"><a href="https://twitter.com/TravelIndiaBlgs?ref_src=twsrc%5Etfw" target="_blank"><i class="fa fa-twitter"></i></a></li> 
                    <li class="list-inline-item"><a href="javascript:void(0);" (click)="uiClickYouTube()"><i class="fa fa-youtube fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                    <a href="javascript:void()">www.travelindiablogs.com</a>.
                </p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->