@import "../../../assets/styles/common-styles.scss";
@import "../../../assets/styles/common-media-queries.scss";
.nav-link{
    color:black;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
  }
  nav{
    background-color: #4D4D4D;
  
  }
  .travel-india {
    color: white;
  }