<section class="contact py-5 bg-light" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Get in touch</h4>
                <hr>
            </div>
            <div class="col-md-6">
                <div class="address">
                    
                <h5>Address:</h5>
                <ul class="list-unstyled">
                    <li> Rajashree Layout</li>
                    <li> Munnekolala , Marathalli</li>
                    <li> PO Box 560037</li>
                    <li> Bangalore, Karnataka</li>
                </ul>
                <p>Please don't send anything to this address.</p>
                </div>
                <div class="email">
                <h5>Email:</h5>
                <ul class="list-unstyled">
                    <li> admin@travelindiablogs.com</li>
                </ul>
                </div>
                <div class="phone">
                    <h5>Phone:</h5>
                    <ul class="list-unstyled">
                    <li> +91- Under Maintenance...</li>
                </ul>
                </div>
                <hr>
                <div class="social">
                <ul class="list-inline list-unstyled">
                    <!-- <li class="list-inline-item">
                        <a href="javascript:void(0);"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li> -->
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" (click)="uiClickYouTube()"><i class="fa fa-youtube fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">  
                        <h5 class="adv-tour">Adventure Tours</h5>      
                        <p>India with its stunning panorama and geography offers some of the most venturesome destinations for enjoying adventure holidays. The adrenaline rush that one feels while conquering the snow-capped peaks; taming the white water; winning over the fear while bungee jumping or skydiving; and exploring a whole new underwater universe, cannot be expressed in words. If you are someone who craves for adventure, then you should plan an adventure trip to India, and this section right here, is the place to find all the insights. Read to find your adventure and inspiration to take life by the horns.</p>                    
                    </div>
                </div>
            </div>
        </div>     
    </div>
    </section>